body {
    background-color: #f4f4F4;
}

.card-filme {
    transition: 0.3s;
    cursor: pointer;
}

.card-filme:hover {
    transform: scale(1.03);
}

.card-filme img {
    height: 550px;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: black;
    border: none;
}

button a {
    text-decoration: none;
    color: aliceblue;
}

.card-serie {
    transition: 0.3s;
    cursor: pointer;
}

.card-serie hover {
    transform: scale(1.03);
}

.card-series img {
    height: 550px;
    object-fit: cover;
}
